body {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.container {
  max-width: 30%;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgb(65, 50, 100 /8%);
}

form {
  text-align: right;
  margin-right: 70px;
}
.place {
  color: black;
  text-align: right;
}
.today {
  position: relative;
  left: 20px;
}
.conditions {
  text-align: left;
}
.day {
  text-align: center;
}
.todayTemperature {
  font-size: 24px;
  font-weight: bold;
}

.todayTemperature .active {
  color: black;
  cursor: default;
}

.todayTemperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperatures-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
